chromadb==0.5.5
sentence-transformers==3.0.1
langchain==0.2.14
langchain-core==0.2.36
langchain-community==0.2.12
pymupdf==1.24.9
torch==2.2.2
transformers==4.44.2
numpy==1.26.4
fastapi==0.112.0
uvicorn==0.30.6
tqdm==4.66.5
uvicorn
pydantic